<h1>Jobs</h1>
<p>Add the details of your event below</p>

<%= simple_form_for(@job) do |f| %>
  <%= f.input :location %>
  <%= f.input :date, :order => [:day, :month, :year]
%>
  <%= f.input :time, label: "Start time"%>
  <%= f.input :duration, label: "Duration in hours" %>
  <%= f.input :payment, label: "Budget $" %>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>