<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<ul>
    <li>Location: <%= @job.location %></li>
    <li>Date: <%= @job.date %></li>
    <li>Start time: <%= @job.time %></li> 
    <li>Payment: <%= @job.payment %></li>
    <li>Job Description: <%= @job.description %></li>
</ul>>
<%= link_to "Show all jobs", job_path %>